In [1]:
# Importing Libraries

import requests
import psycopg2
import pandas as pd
import json
import http.client
import os
import csv
from sqlalchemy import create_engine
from sqlalchemy import create_engine, String, Float, Text, Integer, Date
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

In [2]:
# Set environment variables for CURL_CA_BUNDLE and REQUESTS_CA_BUNDLE
os.environ['CURL_CA_BUNDLE'] = r"C:\Users\Ayodele\AppData\Local\.certifi\cacert.pem"
os.environ['REQUESTS_CA_BUNDLE'] = r"C:\Users\Ayodele\AppData\Local\.certifi\cacert.pem"

In [3]:
# Scraping the Data using API



conn = http.client.HTTPSConnection("realty-mole-property-api.p.rapidapi.com")

headers = {
    'x-rapidapi-key': "eb615e7b27msh20dba361cc462fep193aefjsnf51bbf461fc4",
    'x-rapidapi-host': "realty-mole-property-api.p.rapidapi.com"
}

conn.request("GET", "/randomProperties?limit=10000", headers=headers)

res = conn.getresponse()
data = res.read().decode("utf-8")
dt_res = json.loads(data)

In [4]:
# Load the dataset

prop_df = pd.DataFrame(dt_res)
prop_df.head()

,addressLine1,city,state,zipCode,formattedAddress,squareFootage,yearBuilt,county,assessorID,legalDescription,...,owner,id,longitude,latitude,addressLine2,bedrooms,bathrooms,lotSize,lastSaleDate,lastSalePrice
0,106 Colony Dr,Goose Creek,SC,29445,"106 Colony Dr, Goose Creek, SC 29445",1307.0,2013.0,Berkeley,252-14-02-003,ASSESSMENT DISTRICT: 610ST JAMES EST SECTION I...,...,"{'names': ['Charles R Bales', 'Sonia Maria Bal...","106-Colony-Dr,-Goose-Creek,-SC-29445",-80.016352,32.959159,NaN,NaN,NaN,NaN,NaN,NaN
1,1912 Prairie Sq,Schaumburg,IL,60173,"1912 Prairie Sq, Apt 33, Schaumburg, IL 60173",NaN,NaN,Cook,07122000091011,U33A ALDEN CONDO N1/2 S12 T41N R1 0E,...,{'names': ['']},"1912-Prairie-Sq,-Apt-33,-Schaumburg,-IL-60173",-88.038915,42.063588,Apt 33,NaN,NaN,NaN,NaN,NaN
2,4131 N Blythe Ave,Fresno,CA,93722,"4131 N Blythe Ave, Apt 235, Fresno, CA 93722",NaN,NaN,Fresno,NaN,NaN,...,NaN,"4131-N-Blythe-Ave,-Apt-235,-Fresno,-CA-93722",-119.872558,36.797145,Apt 235,NaN,NaN,NaN,NaN,NaN
3,1420 N Park St,Kalamazoo,MI,49007,"1420 N Park St, Kalamazoo, MI 49007",1383.0,1908.0,Kalamazoo,06-10-362-159,19008 DUDGEON & COBBS SUB-DIVISION OR ADD ON S...,...,"{'names': ['DANA DUNCAN'], 'mailingAddress': {...","1420-N-Park-St,-Kalamazoo,-MI-49007",-85.587302,42.305340,NaN,3.0,1.0,5227.0,NaN,NaN
4,1 Irving Pl,New York City,NY,10003,"1 Irving Pl, Apt V8J, New York City, NY 10003",626.0,NaN,New York County,NaN,NaN,...,NaN,"1-Irving-Pl,-Apt-V8J,-New-York-City,-NY-10003",-73.989213,40.734643,Apt V8J,1.0,1.0,NaN,NaN,NaN

In [5]:
# Checking column information

prop_df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   addressLine1      500 non-null    object
 1   city              500 non-null    object
 2   state             500 non-null    object
 3   zipCode           500 non-null    object
 4   formattedAddress  500 non-null    object
 5   squareFootage     392 non-null    float64
 6   yearBuilt         372 non-null    float64
 7   county            500 non-null    object
 8   assessorID        349 non-null    object
 9   legalDescription  340 non-null    object
 10  subdivision       294 non-null    object
 11  zoning            183 non-null    object
 12  ownerOccupied     318 non-null    object
 13  propertyType      411 non-null    object
 14  features          451 non-null    object
 15  taxAssessment     345 non-null    object
 16  propertyTaxes     339 non-null    object
 17  owner             346 non-null    object
 18  id                500 non-null    object
 19  longitude         500 non-null    float64
 20  latitude          500 non-null    float64
 21  addressLine2      117 non-null    object
 22  bedrooms          332 non-null    float64
 23  bathrooms         363 non-null    float64
 24  lotSize           355 non-null    float64
 25  lastSaleDate      303 non-null    object
 26  lastSalePrice     242 non-null    float64
dtypes: float64(8), object(19)
memory usage: 105.6+ KB

In [6]:
# Check for null values

prop_df.isna().sum()

addressLine1          0
city                  0
state                 0
zipCode               0
formattedAddress      0
squareFootage       108
yearBuilt           128
county                0
assessorID          151
legalDescription    160
subdivision         206
zoning              317
ownerOccupied       182
propertyType         89
features             49
taxAssessment       155
propertyTaxes       161
owner               154
id                    0
longitude             0
latitude              0
addressLine2        383
bedrooms            168
bathrooms           137
lotSize             145
lastSaleDate        197
lastSalePrice       258
dtype: int64

In [7]:
# converting dictionary column to string
prop_df['features'] = prop_df['features'].apply(json.dumps)
# prop_df['owner'] = prop_df['owner'].apply(json.dumps)
# prop_df['taxAssessment'] = prop_df['taxAssessment'].apply(json.dumps)
# prop_df['propertyTaxes'] = prop_df['propertyTaxes'].apply(json.dumps)


prop_df['lotSize'] = prop_df['lotSize'].astype(str).str.strip().replace({'Single Family': 0, 'Unknown': 0})
prop_df['lotSize'] = pd.to_numeric(prop_df['lotSize'], errors='coerce')
prop_df['lotSize'] = prop_df['lotSize'].fillna(0)
prop_df['lastSaleDate'] = pd.to_datetime(prop_df['lastSaleDate'], errors='coerce').dt.date


# replace NaN values with appropriate defaults or remove rows/columns as necessary
prop_df.fillna({
    'assessorID': 'Unknown',                 
    'legalDescription': 'Not available',    
    'squareFootage': 0,                     
    'subdivision': 'Not available',         
    'yearBuilt': 0,                         
    'bathrooms': 0,                         
    'lotSize': 0,                           
    'propertyType': 'Unknown',              
    'lastSalePrice': 0,                     
    'lastSaleDate': 0,        
    'taxAssessment': 'Not available',       
    'owners': 'Unknown',                    
    'propertyTaxes': 'Not available',       
    'bedrooms': 0,                          
    'longitude': 0.0,                       
    'latitude': 0.0, 
    'ownerOccupied': False,
    'zoning': 'Unknown',
    'features': 'Not available',
    'addressLine2' : 'Not available',
    'cooling': 'Unknown',
    'owner': 'Unknown',
    'formattedAddress': 'Not available',    
    'county': 'Unknown'               
}, inplace = True)

In [8]:
prop_df = prop_df.dropna(how = 'all')

In [9]:
# Confirm if there are still null values

prop_df.isna().sum()

addressLine1        0
city                0
state               0
zipCode             0
formattedAddress    0
squareFootage       0
yearBuilt           0
county              0
assessorID          0
legalDescription    0
subdivision         0
zoning              0
ownerOccupied       0
propertyType        0
features            0
taxAssessment       0
propertyTaxes       0
owner               0
id                  0
longitude           0
latitude            0
addressLine2        0
bedrooms            0
bathrooms           0
lotSize             0
lastSaleDate        0
lastSalePrice       0
dtype: int64

In [10]:
# Create Fact Table

fct_table = prop_df[['addressLine1', 'city', 'state', 'formattedAddress', 'squareFootage', 'yearBuilt', 'bathrooms', 'bedrooms', 'lotSize', 'propertyType', 'longitude', 'latitude']].drop_duplicates()
fct_table.head()

,addressLine1,city,state,formattedAddress,squareFootage,yearBuilt,bathrooms,bedrooms,lotSize,propertyType,longitude,latitude
0,106 Colony Dr,Goose Creek,SC,"106 Colony Dr, Goose Creek, SC 29445",1307.0,2013.0,0.0,0.0,0.0,Single Family,-80.016352,32.959159
1,1912 Prairie Sq,Schaumburg,IL,"1912 Prairie Sq, Apt 33, Schaumburg, IL 60173",0.0,0.0,0.0,0.0,0.0,Condo,-88.038915,42.063588
2,4131 N Blythe Ave,Fresno,CA,"4131 N Blythe Ave, Apt 235, Fresno, CA 93722",0.0,0.0,0.0,0.0,0.0,Unknown,-119.872558,36.797145
3,1420 N Park St,Kalamazoo,MI,"1420 N Park St, Kalamazoo, MI 49007",1383.0,1908.0,1.0,3.0,5227.0,Single Family,-85.587302,42.305340
4,1 Irving Pl,New York City,NY,"1 Irving Pl, Apt V8J, New York City, NY 10003",626.0,0.0,1.0,1.0,0.0,Condo,-73.989213,40.734643

In [11]:
# Location Dimension Table

dim_location = prop_df[['addressLine1', 'city', 'state', 'zipCode', 'county', 'longitude', 'latitude']].reset_index(drop = True)
dim_location['location_id'] = dim_location.index + 1
dim_location.head()

,addressLine1,city,state,zipCode,county,longitude,latitude,location_id
0,106 Colony Dr,Goose Creek,SC,29445,Berkeley,-80.016352,32.959159,1
1,1912 Prairie Sq,Schaumburg,IL,60173,Cook,-88.038915,42.063588,2
2,4131 N Blythe Ave,Fresno,CA,93722,Fresno,-119.872558,36.797145,3
3,1420 N Park St,Kalamazoo,MI,49007,Kalamazoo,-85.587302,42.305340,4
4,1 Irving Pl,New York City,NY,10003,New York County,-73.989213,40.734643,5

In [12]:
# Sales Dimension Table 

dim_sales = prop_df[['lastSalePrice', 'lastSaleDate']].drop_duplicates().reset_index(drop = True)
dim_sales['sales_id'] = dim_sales.index + 1
dim_sales.head()

   lastSalePrice lastSaleDate  sales_id
0            0.0            0         1
1       114000.0   2023-08-21         2
2       185000.0   2010-02-12         3
3       236000.0   2021-10-05         4
4            0.0   2009-09-17         5

In [13]:
# Property Features Dimension tables

dim_feature = prop_df[['zoning', 'features', 'propertyType']].dropna().reset_index(drop = True)
dim_feature['feature_id'] = dim_feature.index + 1
dim_feature.head()

,zoning,features,propertyType,feature_id
0,BERKELEY COUNTY - R1,"{""fireplace"": true, ""fireplaceType"": ""Prefab"",...",Single Family,1
1,Unknown,"{""unitCount"": 1}",Condo,2
2,Unknown,{},Unknown,3
3,RS-5,"{""heating"": true, ""heatingType"": ""Forced Air"",...",Single Family,4
4,Unknown,NaN,Condo,5

In [14]:
# Save files as csv

fct_table.to_csv('fct_table.csv', index = False)
dim_location.to_csv('dim_location.csv', index = False)
dim_feature.to_csv('dim_feature.csv', index = False)
dim_sales.to_csv('dim_sales.csv', index = False)

In [15]:
# Connect to Engine

engine = create_engine('postgresql://postgres:omotayo@localhost:5432/postgres')

# creating Datatypes
fct_table_dtype = {
    'addressLine1': String(255),
    'city': String(100),
    'state': String(50),
    'zipCode': String(255),
    'formattedAddress': String(255),
    'squareFootage': Float,
    'yearBuilt': Float,
    'bathrooms': Float,
    'bedrooms': Float,
    'lotSize': Float,
    'propertyType': String(100),
    'longitude': Float,
    'latitude': Float
}

dim_location_dtype = {
    'addressLine1': String(255),
    'city': String(100),
    'state': String(50),
    'zipCode': Integer,
    'county': String(100),
    'longitude': Float,
    'latitude': Float
}

dim_sales_dtype = {
    'lastSalePrice': Float,
    'lastSaleDate': Date
}

dim_features_dtype = {
    'features': Text,
    'propertyType': String(100),
    'zoning': String(100)
}

In [16]:
# Load Data to PostgreSQL 

fct_table.to_sql('fact_table', con=engine, schema='zipco', if_exists='replace', index=False,)
dim_location.to_sql('dim_location', con=engine, schema='zipco', if_exists='replace', index=False,)
dim_sales.to_sql('dim_sales', con=engine, schema='zipco', if_exists='replace', index=False,)
dim_feature.to_sql('dim_features', con=engine, schema='zipco', if_exists='replace', index=False,)

500

In [17]:
avg_price_query = '''
    SELECT 
        AVG("lastSalePrice") AS average_price
    FROM 
        zipco.dim_sales
    WHERE 
        "lastSalePrice" > 0;
'''
avg_price = pd.read_sql(avg_price_query, engine)
print(avg_price)

   average_price
0  350967.161157

In [18]:
# Counting Properties by state

state_count_query = '''
    SELECT 
        state,
        COUNT(*) AS property_count
    FROM 
        zipco.fact_table
    GROUP BY 
        state
    ORDER BY 
        property_count DESC;
'''
state_counts = pd.read_sql(state_count_query, engine)
print(state_counts)

   state  property_count
0     TX              61
1     CA              46
2     FL              38
3     OH              32
4     NY              29
5     PA              21
6     VA              20
7     GA              18
8     AZ              17
9     NC              16
10    IL              15
11    MD              14
12    MI              13
13    MA              12
14    SC              11
15    NJ              11
16    IN              10
17    LA               9
18    CO               9
19    NV               8
20    UT               7
21    KS               7
22    TN               6
23    OR               6
24    MN               6
25    WA               6
26    KY               5
27    AR               5
28    CT               5
29    MS               4
30    OK               4
31    AL               3
32    NE               3
33    MO               3
34    IA               3
35    NM               2
36    ID               2
37    NH               2
38    RI               2
39    HI               2
40    DE               2
41    WI               2
42    DC               1
43    WV               1
44    AK               1

In [48]:
# device_auth = DeviceCodeLoginAuthentication()
# PBI_visualize = QuickVisualize(get_dataset_config(fct_table), auth = device_auth)
# PBI_visualize

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code C2RTLCRER to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

QuickVisualize()